params {
    // Input files
    mtdna_seq_path = "NC_012920.1.txt"
    bystander_file = "NO_FILE" // Change to actual file if needed, otherwise "NO_FILE"
    
    // Position and base change (no defaults - must be provided by user)
    position = null
    base = null
    
    // Output settings
    outdir = "results"
    output_prefix = "test_output"
    
    // Mitoedit parameters
    min_spacer = 14
    max_spacer = 18
    array_min = 14
    array_max = 18
    mte_filter = 1
    cut_pos = 31
    
    // Conda environment
    conda_mte_env = "/home/dlevings/miniconda3/envs/mte" // UPDATE FOR FINAL PIPELINE
}

// Enable conda
conda {
    enabled = true
    useMamba = false
}

// Execution profiles
profiles {
    standard {
        conda.enabled = true
        process.executor = 'local'
    }
    
    slurm {
        process {
            executor = 'slurm'
            queue = 'default'
            cpus = 1
            memory = '4 GB'
            time = '1h'
        }
    }
}