[
  {
    "name": "Tumor",
    "url" : "/shared/Mito_WGS_Nextflow/HG008_Downsampled_TestData/HG008-T_Illumina_Downsample_200M.bam",
    "colorBy": "strand",
    "alleleFreqThreshold": 0.02
  },
  {
    "name": "Normal",
    "url": "/shared/Mito_WGS_Nextflow/HG008_Downsampled_TestData/HG008-N-D_Illumina_Downsample_200M.bam",
    "colorBy": "strand",
    "alleleFreqThreshold": 0.02
  }
]
